apiVersion: v1
kind: Service
metadata:
  name: my-app
spec:
  selector:
    app: my-app
  ports:
    - protocol: TCP
      port: 8000       # Port the service listens on
      targetPort: 8000 # Port the Python app is actually using
  type: ClusterIP